html {
  box-sizing: border-box;
  font-size: 16px;
  border: 2px solid green
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* ------------ end of Reset ---------- */
.app {
  max-width: 800px;
}
.headline {
  color: red;
  padding: 4px;
}
.byline {
  color: black;
  padding: 4px;
}
